Body {  
	background-color: #171717; 
	font-family: "Oxanium", sans-serif;  
}  
button {   
	background-color: #E37714;   
	width: 100%;  
	color: #171717;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;
	font-family: "Oxanium", sans-serif;
}
 
 input[type=text], input[type=password] {   
	width: 100%;   
	margin: 8px 0;  
	padding: 12px 20px;   
	display: inline-block;     
	box-sizing: border-box;  
	font-family: "Oxanium", sans-serif;
}

 input[type=submit] {
	background-color: #E37714;   
	width: 100%;  
	color: #171717;   
	padding: 15px;   
	margin: 10px 0px;   
	border: none;   
	cursor: pointer;
	font-family: "Oxanium", sans-serif;
 }
  
label{
	color: #E37714;
}
	
button:hover {   
        opacity: 0.7;   
 }   
       
  
footer{
	background-color: #171717;  
	color: #E37714;    
	border: none;  
	text-align: center;
	font-family: "Oxanium", sans-serif;
}
  
.container {   
	padding: 25px;   
    background-color: #171717; 
	#padding-left: 25%;
	#padding-right: 25%;
}

.fpass {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
	color: #E37714;
}

.color{
	color: #E37714;
}

.texto{
	color: #E37714;
	text-align: center;
}	

.imagen{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}