.gorrino {   

    background-color: #E37714; 

}

.opciones{
	background-color: #E37714;
	color: #171717;   
	padding: 10px;   
	border: none;   
	text-align: center;
	width: 20%;
}

.opciones:hover{
	opacity: 0.7;
	background-color: #F49237;
}

.imagen{
    width: 20%;
}